* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFBA00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid1 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid2 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid3 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid1 img {
    width: 100%;
    height: 100%;
}

.grid2 img {
    width: 100%;
    height: 100%;
}

.grid3 img {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 20%;
    margin: 50px auto;
    border: 5px  black;
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 130px;
}

.heading {
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
}

h2 {
    padding-top: 18px;
    font-weight: 750;
}

.details {
    padding-top: 10px;
    padding-bottom: 20px;
}

.container.date {
    font-weight: 600;
}

